body {
	background: #272628;

	/*
	font-family:'FrutigerNeue1450W01-Bol 1196308', arial, sans-serif;

	font-family: 'FrutigerNeue1450W01-Bol 1196308', sans-serif;
	font-weight: 700;

	/* 300, 400, 600, 700 */
	/* font-size: 100%; */
	color: #ffffff;	
}