body {
	font-family:'FrutigerNeue1450W01-Reg', arial, sans-serif;

	background: #ffffff;
	
	/* background: #1e1e1e; */

/*
font-family:'FrutigerNeue1450W01-Bol 1196308';
font-family:'FrutigerNeue1450W01-Med';
font-family:'FrutigerNeue1450W01-Reg';
font-family:'FrutigerLTW01-55Roman';
font-family:'Frutiger LT W01 65 Bold';
*/

	color: #ffffff;	
}